
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}
.about-container-img {
  position: relative;
  overflow: hidden; // Đảm bảo không có phần thừa của ảnh

  .image-overlay {
    position: relative;
  }

  .background-image {
    width: 100%; // Ảnh tràn chiều rộng
    height: auto; // Giữ tỷ lệ ảnh
  }

  // Lớp phủ bán trong suốt trên ảnh nền
  &::before {  // Sử dụng &::before thay vì .about-container-img::before
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(12, 13, 14, 0.6); // Màu overlay bán trong suốt
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    z-index: 2; // Đảm bảo chữ nằm trên lớp phủ
  }
}


.career-detail {

  .career-banner h1 {
    font-size: 40px;
  }
  .job-info{
    margin: auto;
  }
  .job-info-item {
    display: flex;
  }

  .job-info-item ul {
    width: 50%;
  }

  .job-info-item li {
    margin-top: 24px;
    display: flex;
  }
  .tl43{
    display: flex;
    flex-direction: column;
  }
  .job-info-item ol {
    margin-left: 12px;
  }
  .job-qualification {
    display: flex;
    flex-direction: row;
    gap: 10px
    
  }
  .job-qualification img{
    height: 24px !important;
    width: 24px !important;
  }
  .job-qualification li {
    display: flex;
    
  }

  .job-qualification ol {
    margin-left: 12px;
    margin-bottom: 20px;
  }


  .breadcrumb {
    margin-bottom: 20px;
  }

  .breadcrumb a {
    color: #0073e6;
    text-decoration: none;
  }

  .job-title {
    margin-bottom: 12px;
    position: relative;
    padding-left: 20px;
  }

  .job-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 100%;
    background-color: #05836b;
  }

  .job-summary {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .job-info {
    flex: 1;
    position: relative;
  }

  .job-info h3 {
    display: inline-block;
    border-bottom: 1px solid #000;
  }

  .job-info ul {
    margin-bottom: 10px;
  }

  .job-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .job-image img {
    max-width: 100%;
    height: auto !important;
  }

  .job-image .job-description-link {
    margin-top: 10px;
    color: #0073e6;
    text-decoration: none;
  }

  .contactInfo .contactItem {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  .contactInfo img {
    width: 24px;
    height: 24px;
  }
}

.job-responsibilities
 {
  margin-top: 40px;
}
.job-qualifications,
.job-contact{
  margin-top: 20px;
}
.job-responsibilities h3,
.job-qualifications h3,
.job-benefits h3,
.job-contact h3 {
  margin-bottom: 20px;
}

.job-responsibilities ul,
.job-benefits ul,
.job-contact ul {
  list-style-type: disc;
  margin-left: 20px;
}

.recruitment-section{
  background-color: #F0F3F6;
}

@media (max-width:1199px){
  /*Bắt đầu từ 992 tính tương ứng với trường hợp tablet quay ngang - thường là 3 hoặc 4 cột*/

  /*Với làm responsive sẽ để width theo % nên để các khối về box-sizing:border-box*/

  
  /*Xử lý cho các khối trên pc thì hiện, trên tablet thì ẩn hoặc ngược lại*/

}


@media (max-width:991px){
  /*Bắt đầu từ 768 tính tương ứng với trường hợp tablet dựng dọc - thường là 2 hoặc 3 cột*/
  /*Xử lý cho các khối trên pc thì hiện, trên tablet thì ẩn hoặc ngược lại*/

}

@media (max-width:767px){
  .job-detail-section{
    padding: 40px 20px !important;

  }

  .career-banner {
    height: 200px; // Giảm chiều cao cho banner

    h1 {
      font-size: 30px; // Giảm kích thước font
    }
  }

  .job-info-item {
    display: flex;

    ul {
      width: 100%; // Chiều rộng 100%
    }

    li {
      margin-left: 5px;
    }
  }
  .recruitment-title {
    padding-top: 40px !important;
    margin-bottom: 8px !important;
  }
  .job-opportunities-title{
    margin-bottom: 24px !important;
  }
  .job-image img{
    margin-bottom: 24px !important;
  }
  .job-summary {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-direction: column-reverse;
    .job-title {
      font-size: 28px; // Giảm kích thước font
    }

    .job-info {
      width: 100%;
    }
  }
  .job-responsibilities{
    margin-top: 0px !important;
  }

}

@media (max-width:479px){
  /*Bắt đầu từ mobile, tức css viết ngoài cùng là css cho trường hợp mobile dựng dọc - thường là 1 cột, padding left right 15px*/

  /*Xử lý cho các khối trên pc thì hiện, trên mobile thì ẩn hoặc ngược lại*/
}