@model Domain.Entities.SystemConfiguration

@{
    ViewData["Title"] = "System Configuration / Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit SystemConFig</h2>


<div class="card-body">
    <div class="example">
        <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                <form id="myForm" class="row g-3 needs-validation" action="/SystemConFig/Edit" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-md-4 position-relative">
                        <label class="form-label" for="ConfigKey">ConfigKey</label>
                        <textarea class="form-control" id="ConfigKey" placeholder="ConfigKey" required asp-for="ConfigKey" value ="ConfigKey"></textarea>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label class="form-label" for="ConfigValue">ConfigValue</label>
                        <textarea class="form-control" id="ConfigValue" placeholder="ConfigValue" required asp-for="ConfigValue" value ="ConfigValue"></textarea>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label class="form-label" for="Description">Description</label>
                        <textarea class="form-control" id="Description" placeholder="Description" required asp-for="Description" value ="Description" ></textarea>
                    </div>
              <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
